#navbar1{
 background-color: darkviolet;	
 margin: 0;
}

#navbar2{
 background-color: fuchsia;	
 margin: 0;
}

#navbar1 button{
 border: none;	
 background-color: transparent;
 color: white;
}

#navbar2 ul{
  list-style-type: none;
  display: inline;

}

#navbar2 li{
  list-style-type: none;
  display: inline;
  	color: white;
}

#navbar2 button{
 background-color: transparent;
 color: white;
 float: right;
 border:  none;	
}